.container {
    width: 768px;
    margin: 10px auto;
    height: 300px;
    background: white;
    position: relative;
}
.gobelet {
    position: absolute;
    top: 100px;
    background: #00f3ff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 1s; 
    transition: all 1s;
    cursor: pointer;
}

.alert {
    font-size: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 4px 15px black;
}
.alert-error {
    color: red;
    background: rgba(255,0,0,0.6);
}
.alert-success {
    color: green;
    background: rgba(7,255,7,0.35);
}

#bille {
    width: 30px;
    height: 30px;
    background: yellow;
    border-radius: 50% 0;
}
#action {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
.button {
    width: 120px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 20px;
}
#play {
    background: #4dac2d;
}
#reset {
    background: #de4141;
    margin-right: 20px;
}

.button:hover {

}

@-webkit-keyframes topAnimation {
    0% {top: 100px;}
    50% {top: 50px;}
    100% {top: 100px}
}

@keyframes topAnimation {
    0% {top: 100px;}
    50% {top: 50px;}
    100% {top: 100px}
}